/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
/* BACKGROUND */
#background {
    background-image: url("../../images/botanical4.jpg");
    background-color: rgb(255, 255, 255);
    background-position: bottom left;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:contain;
    height: 100vh;
    overflow: auto;
    animation: fadein 1.3s ease-in forwards;
}

/* FOOTER */
.footer {
  padding: 1rem;
  background-color: rgb(131, 141, 118);
  color: white;
  text-align: center;
}

/* TRANSITIONS */

@keyframes slidein {
  from { transform: scaleX(0); }
  to   { transform: scaleX(1); }
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes slideUp {
  0% {
    transform: translateY(1000px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes expand {
  0% {
    transform: translateX(1400px);
  }
  100% {
    transform: translateX(0px);
  }
}

/* NAVBAR STYLING */
.navbar {
    overflow: hidden;
    background-color: rgb(131, 141, 118);
    border-radius: 10px;
  }
  
  .navbar a {
    float: left;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Poiret One', cursive;
    font-weight:bold;
  }
  
  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .navbar a.active {
    background-color: #2b5d4c;
    color: white;
  }

/* LANDING STYLING */
#landing {
    text-align:center;
    height: 100%;
    background-color: rgba(232, 252, 245, 0.397);
    margin-top: 20%;
    padding: 2%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#enterbtn {
    font-family: 'Poiret One', cursive;
    color: black;
    border-radius: 50%;
    font-size: 40px;
    display: inline-block;
    border:none;
    background-color:  rgb(216, 214, 202);
    text-align: center;
    padding: 30px 32px;
    transition-duration: 0.4s;
    margin: 50px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    width: 200px;
}

.row {
    text-align: center;
}

#enterbtn:hover {
    background-color:rgb(150, 175, 117);
}

/* HEADER */
h1 {
    font-family: 'Poiret One', cursive;
    font-size:86px;
}

h2 {
  font-family: 'Poiret One', cursive;
  font-size:62px;
}

/* BANNER */
#banner {
text-align:center;
height: 100%;
background-color: rgb(90, 128, 122);
color: white;
border-radius: 10px;
margin-bottom: 3%;
padding: 2%;
padding-bottom: 50px;;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
transform: translateY(100px);
animation: expand ease-in-out forwards 3s;
}

/* HOME STYLING */

#homediv {
    text-align: center;
    margin-top: 3%;
    margin-bottom: 10%;
    border-radius: 10px;
    max-height: 50%;
    background-color: rgba(232, 252, 249, 0.397);
    padding: 2%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transform: translateY(100px);
    animation: expand ease-in forwards 2.5s;
}

#plantpic {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    padding:1px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  /* SERVICES PAGE */
  #servicesmaindiv {
    text-align: center;
    margin-top: 3%;
    margin-bottom: 10%;
    border-radius: 10px;
    max-height: 50%;
    background-color: rgba(232, 252, 249, 0.397);
    padding: 2%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transform: translateY(100px);
    animation: expand ease-in forwards 2.5s;
}

  /* BEFORE AND AFTER PAGE */
  .carouselPhoto {
    max-width: 450px;;
  }

  #baamaindiv {
      text-align: center;
      margin-top: 3%;
      margin-bottom: 10%;
      border-radius: 10px;
      max-height: 50%;
      background-color: rgba(232, 252, 249, 0.397);
      padding: 2%;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      transform: translateY(100px);
      animation: expand ease-in forwards 2.5s;
  }

  /* PRODUCTS PAGE */

  #prodmaindiv {
      text-align: center;
      margin-top: 3%;
      margin-bottom: 10%;
      border-radius: 10px;
      max-height: 50%;
      background-color: rgba(232, 252, 249, 0.397);
      padding: 2%;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      transform: translateY(100px);
      animation: expand ease-in forwards 2.5s;
  }

  /* CONTACT PAGE */
  #contactmaindiv {
    text-align: center;
    margin-top: 3%;
    margin-bottom: 10%;
    border-radius: 10px;
    max-height: 50%;
    background-color: rgba(232, 252, 249, 0.397);
    padding: 2%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transform: translateY(100px);
    animation: expand ease-in forwards 2.5s;
}